@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 10vw;
}



/* HEADER */

.header {
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
}

.header img {
    display: block;
    width: 200px;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    list-style: none;
    text-decoration: none;
}

.navbar li a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

/* HEADER END */

/* HERO */
.hero-section {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5em;
}

.left-side {
    width: 50%;
}

.right-side {
    width: 50%;
}

.hero-img {
    float: right;
    max-width: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.hero-display {
    font-family: "Markazi Text", 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 3em;
}

.hero-sub {
    font-family: "Markazi Text", 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 1.7em;
}

.btn-primary {
    background-color: #F4CE14;
    outline: none;
    border: none;
    padding: 1em 2em;
}


/* HERO ENDS */

/* FOOTER */

.footer {
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    background-color: antiquewhite;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.footer img {
    max-width: 100px;
}

.footer ul li {
    list-style: none;
}